.header-container {
    height: 61px;
}

.home-container {
    overflow-x: hidden;
}

.main-container {
    padding-left: 5%;
    padding-right: 5%;
}
.profile-details-lbl {
    display: inline-block;
    height: 49px;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 0.2px;
    color: #4a4a4a;
}

.profile-details-lbl-row {
    margin-top: 5%;
    margin-bottom: 100px;
}

.apply-options-row {
    margin-bottom: 70px;
}

.apply-options-row > div {
    padding-bottom: 5%; 
    border-bottom: solid 1px #f3e9e9;
}

.col-item {
    padding-right: 0px;
}

.help-text-lbl {
    margin-top: 25px;
    float: right;
    display: block;
    width: 40px;
    height: 22px;
    font-size: 16px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #4a4a4a;
}

.button-container {
    width: 198.9px;
    height: 36px;
    border-radius: 100px;
    padding: 7px;
}

.find-out-btn {
    background-color: #ffc033;
    float: right;
}

.apply-btn {
    background-color: #9b9b9b;
    float: right;
}

.text-container {
    display: inline-block;
}

.button-text {
    width: 141.6px;
    height: 22px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-left: 20px;
}

.row-item-bold-text {
    width: 261.6px;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}

.row-item-small-text {
    width: 285.9px;
    height: 22px;
    font-size: 16px;
    color: #4a4a4a;
}

@media (max-width: 804px) {
    .header-container {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
    .main-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .profile-details-lbl-row, .apply-options-row {
        margin-top: 5%;
        margin-bottom: 10%;
        padding-left: 25px;
        padding-right: 35px;
    }
}

@media (max-width: 529px) {
   
    .find-out-btn {
        float: left;
        margin-top: 25px;
    }

    .apply-btn {
        float: left;
        margin-top: 25px;
    }
}

@media (max-width: 320px) {
    .help-text-lbl {
        float: left;
        margin-top: 25px;
    }
}